extends ../layout

block content
  h2 QC Audit List

  table.table.table-bordered
    tr
      th
      th Audit ID
      th Template
      th Client
      th Address
    each audit in audits
      tr
        td
          a.btn.btn-sm.btn-primary(href="/audit/#{audit.id}") View
        td #{audit.id}
        td #{audit.template.name}
        td #{audit.client.name}
        td #{audit.client.address.unit_no} #{audit.client.address.address1}, #{audit.client.address.address2}, #{audit.client.address.town}, #{audit.client.address.county}, #{audit.client.address.post_code}
