extends ../layout

block content
  h2 QC Audit #{data.id}
    br
    small #{data.client.name} - #{data.audit_date}
  form.form-horizontal.col-lg-6.col-md-8.col-sm-10
    each area in data.areas
      fieldset
        legend #{area.name}
        each q in area.checks
          .form-group
            label.col-sm-2.col-lg-3.control-label #{q.description}
            case q.type
              when 'yes/no'
                .col-sm-10.col-lg-9
                  input.form-control(type="text", name='#{q.id}', id='#{q.id}')
              when 'stars'
                .col-sm-10.col-lg-9
                  input.form-control.rating(name='#{q.id}', data-min='#{q.min}', data-max='#{q.max}', data-step=1, id='#{q.id}', data-size='sm', data-show-caption="false")
              default
                .col-sm-10.col-lg-9
                  input.form-control(type="text", name='#{q.id}', id='#{q.id}')
    .form-group
      button.btn.btn-success.btn-sm(type="Submit") Submit
